@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.konten-tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom-tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    height: 100vh;
}

.kiri img {
    width: 300px;
    margin-bottom: 50px;
}

.kanan img {
    max-width: 100%;
    border: solid 5px  var(--warna-ungu);
    border-radius: 500px;
}

        @media (max-width:992px) {
            .kolom-tengah {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .kanan img {
                max-width: 100%;
                border: none;
                border-radius: 0px;
            }

        }

.section1 {
    background-color: var(--warna-hijau);
}

.section1 h1, p {
    color: white;
}

.apaitu {
    flex-direction: column;
    margin: 100px auto;
    text-align: center;
}

.testimoni {
    display: flex;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
    text-align: center;
}

.testimoni video {
    max-width: 100%;
}