@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.konten-tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom-tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    margin: 100px auto;
}

.kiri img {
    width: 300px;
    margin-bottom: 50px;
}

.kanan img {
    max-width: 100%;
}

        @media (max-width:992px) {
            .kolom-tengah {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }

.container-fluid {
    padding: 100px 0px;
}

.section1 {
    background-color: var(--warna-hijau);
}

.section1 h1, p {
    color: white;
}

.apaitu {
    flex-direction: column;
    text-align: center;
}

.testimoni {
    display: flex;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
    text-align: center;
}

.testimoni video {
    max-width: 100%;
}

.testimoni h1 {
    color: white !important;
    text-align: center;
}

.video {
    padding: 10px;
}

.video h1 {
    color: black !important;
    text-align: center;
}

.section2 {
    background-color: white;
}

.section3 {
    background-color: var(--warna-biru);
}

.section3 h1, p {
    color: white;
}

.para-ahli {
    text-align: center;
}

.section4 {
    background-color: var(--warna-ungu);
    text-align: center;
}

.section4 h1 {
    color: white !important;
}

.section5 {
    background-color: var(--warna-oren);
}

.section5 h1, p {
    color: white !important;
}

.Kelebihan img {
    max-width: 18%;
    max-height: 18%;
    margin: 20px;
}

.Kelebihan{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.section6 {
    background-color: white;
    text-align: center;
}

.section6 h1 {
    color: black !important;
    text-align: center;
}

.section-manfaat {
    background-color: var(--warna-birutua);

}

.section-manfaat h1, p {
    color: white !important;
    text-align: left;
}

.section-manfaat ol li p, ul li p {
    color:white !important;
    margin: 0;
}

.section-manfaat {
    color: white !important;
}

.manfaat {
    padding: 0px 20px;
    margin: 25px auto;
}

.shape {
    background-image: url(../img/bg-shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

.shape-p {
    margin-bottom: 100px;
} 