:root {
    --warna-ungu : #d64ea1;
    --warna-hijau : #2c9f29;
    --warna-biru : #2892ff; 
    --warna-oren : #f68a1e;
    --warna-birutua : #3c55a5;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--warna-ungu);
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;  
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    color: black;
}

strong {
    color: var(--warna-ungu);
    font-weight: 600;
}

button {
    text-decoration: none;
    color: white;
    background-color: var(--warna-ungu);
    border: none;
    padding: 16px 30px;
    border-radius: 10px;
    outline: none;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

button a:hover {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #b14386;
    transition: 0.3s;
}

        @media (max-width:992px) {
            body {
                text-align: center;
            }
            
            button {
                margin-bottom: 30px;
            }
        }

.carousel img {
    max-width: 100%;
  }

    
        @media (max-width:992px) {
            .mobile {
                display: block;
            }
            .desktop {
                display: none;
            }
        }

        @media (min-width:992px) {
            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }
        }

.shape {
    background-image: url(../img/bg-shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

.shape-r {
    background-image: url(../img/bg-shape-r.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
}

.shape-pb {
    margin-bottom: 100px;
}

.shape-pt {
    margin-top: 100px;
} 

@media (max-width:768px) {
    h1 {
        font-size: 38px;
    }
}

@media (max-width:375px) {
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}