.u-section-1 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1 .u-slider-1 {
  min-height: 453px;
  width: 803px;
  box-shadow: 0px 13px 22px 0 rgba(128,128,128,0.65);
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: auto auto -898px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  width: 0;
  height: 0;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/6.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-9 {
  background-image: url("images/8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-image-10 {
  background-image: url("images/9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-image-12 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-1 .u-image-13 {
  background-image: url("images/12.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-1 .u-image-14 {
  background-image: url("images/13.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-1 .u-image-15 {
  background-image: url("images/14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-1 .u-image-16 {
  background-image: url("images/15.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-1 .u-image-17 {
  background-image: url("images/16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 50px;
}

.u-section-1 .u-image-18 {
  background-image: url("images/17.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 50px;
}

.u-section-1 .u-image-19 {
  background-image: url("images/18.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 50px;
}

.u-section-1 .u-image-20 {
  background-image: url("images/19.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 50px;
}

.u-section-1 .u-image-21 {
  background-image: url("images/20.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  left: 21px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 411px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}